#data-preview {
    height: 600px;
    position: relative;
    background: none;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 600px;
}

#map .table {
    width: 300px;
}

#map .table-container {
    height: 300px;
    overflow: auto;
}

.leaflet-marker-icon:focus-visible {
    outline: 3px solid #4B3FFF;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #FFFFFF;
    border-radius: 2px;
}